

	<div class="pre-header" style="background: #eee;color: #eee;font-size: 5px;border-radius: 0;">
		this is a pre header text to be shown for the user 
	</div>

	<div class="email-container" style="background: #eee;text-align: center;padding: 10px 20px 10px 20px;min-width: 100%;font-family: sans-serif;box-sizing: border-box;">
		<div class="email" style="border-radius: 5px;min-width: 100%;">
			<h2>Reset Your Password</h2>
			<p style="color: #666;">please click on the link below to reset your password</p>
			<a class="click-link" href="{url}" style="background: #333;color: #ccc;padding: 10px 20px;border-radius: 3px;text-decoration: none;display: inline-block;margin-bottom: 10px;">reset my password</a>
		</div>
		<hr>
	</div>
	<div class="footer" style="background: #eee;text-align: center;min-width: 100%;padding-bottom: 10px;">
		my address | logo | sitemap
	</div>

